{{ define "main" }}

<div class="py-16 px-4 flex flex-col items-center justify-start text-gray-700 w-full">

  <div class="max-w-lg">
<h3 class="mb-6 text-2xl font-semibold text-gray-800">Nativity Band Wedding Hymns</h3>
<div class="text-sm">
  <p>
    The suggestion <span class="badge offertory">tags</span> are meant to help you find songs for each part of the
    mass/service.
  </p>
  <br />
  <p class="pb-4">
    These songs are ones that we've played at weddings in the past that we think you'll like. It should open a page where
    you can listen to it on your platform of choice.
    <br /><br />
    While we are open to other selections, the instruction of the Catholic Church required that a song needs to be
    able to be considered appropriate as a hymn to be played in a liturgical setting. This usually means that the song
    must
    reference or be based on
    scripture, the liturgy, the Sacraments, etc.
    <br /><br />
    We often play other hymns at mass on Sunday that are beautiful as well, any of those hymns can be chosen.
  </p>
</div>

<div class="flex flex-col w-full max-w-md justify-content-start">
 {{ range sort $.Site.Data.songs "name" }}
  {{ $url := .url | default (printf "//songwhip.com/%s/%s" (urlize .artist) (urlize .name)) }}
  <a class="w-full" href="{{ $url  }}" target="_blank">
  <div
   class="mx-auto rounded overflow-hidden shadow-md hover:shadow-lg bg-white cursor-pointer hover-push-top my-3 w-full">

  <div class="px-6 py-5 flex flex-initial justify-between items-center text-black">
    <div class="flex flex-col">
     <span class="font-medium text-base">{{.name}}</span>
     <span class="text-sm text-blue-600 font-light">{{.artist}}</span>
    </div>

    {{with $url}}
    <div class="flex items-center">
      <span class="text-xs mr-2 text-gray-600">Listen</span>
    <svg class="stroke-current icon text-gray-600" fill="none" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" id="Regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <title>button-play</title>
      <circle class="a" cx="12" cy="11.998" r="11.25" />
      <path class="a" d="M9,15.613a1.636,1.636,0,0,0,2.712,1.231L17.25,12,11.712,7.153A1.635,1.635,0,0,0,9,8.384Z" />
      </svg>
    </div>
    {{ end }}
   </div>

   <div class="px-6 py-3 flex flex-initial bg-gray-200">
    {{range .place }}

    <span class="badge {{.}}">{{.}}</span>

    {{ else }}
    {{ end }}
   </div>

  </div>
</a>

 {{end}}
</div>

</div>

{{ end }}